.cartitem{
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
}
.cartitem__des{
    padding: 20px;
}
.cartitem__priceQuan{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
