.cartitem{
    border: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
}
.cartitem__des{
    padding: 20px;
    border-right: 1px solid lightgray;
}
.cartitem__priceQuan{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
