.header {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5vh;
  padding: 1rem;
  background-color: var(--primary-color)
}

.header h2{
  margin-right: 20px;
}
.header__linkDropdownContent{
  padding: 8px;
  display: grid;
  cursor: pointer;
}
.header__linkDropdownProfile{
  display: flex;
  align-items: center;
}
.header__linksLogout{
  display: flex;
  margin-left: 20px;
  align-items: center;
}
.header__linkDropdown {
  display: flex;
  align-items: center;
}

.header__linkDropdownItems {
  z-index: 2;
  background-color: rgba(65, 35, 172, 0.891);
  position: absolute;
}
.header__links a {
  display: flex;
  align-items: center;
}
.header__links {
  display: flex;
  align-items: center;
}
.header__link:hover {
  background-color: rgb(54, 28, 151);
}
.header__link {
  align-items: center;
  display: flex;
  cursor: pointer;
  padding-left: 20px;
}
.header a,
a:hover,
a:focus,
a:active {
  font-weight: bolder;
  color: white;
  text-decoration: none;
}

.header__content input{
  border: none;
  width: 100%;
}
.header__content {
  display: flex;
  align-items: center;
}

.header__links a{
  margin-left: 20px;
}
.header__linksText{
  padding-left: 3px;
}
@media only screen and (max-width: 600px) { 
  .header {
    padding: 30px;
  }
  .header__linksText {
    display: none;
  }
  .header__linkDropdownItems {
    visibility: hidden;
  }
}
