.header {
  height: 10vh;
  display: flex;
  color: white;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(65, 35, 172, 0.891);
}
.header a,
a:hover,
a:focus,
a:active {
  font-weight: bolder;
  margin: 10px;
  color: white;
  text-decoration: none;
}
