.order {
  background-color: white;
  border-radius: 10px;
  border: 1px solid lightgrey;
  padding: 10px;
  width: 40%;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 30px;
}
.order__info {
  padding-top: 10px;
  padding-bottom: 10px;
}
.order__info {
  display: grid;
}
.order__info h3 {
  color: rgb(54, 28, 151);
}
@media only screen and (max-width: 600px) {
  .order {
    width: 350px;
  }
}
