.product {
  width: min-content;
  height: fit-content;
  border: 1px solid rgb(136, 134, 134);
  margin: auto;
  padding: 30px;
  text-overflow: clip;
  background-color: rgb(241, 233, 233);
  line-height: 1.8;
  font-size: large;
  border-radius: 5px;
}
.productSelected {
  background-color: rgba(168, 167, 167, 0.795);
}
.product__productImageURL {
  margin: auto;
  object-fit: contain;
  max-width: 60vh;
  max-width: 50vh;
}
.product__btnPrice {
  display: flex;
  justify-content: space-around;
}
.product__btnPriceButtons {
  display: flex;
  margin-left: 10px;
  align-items: center;
}
.product__btnPriceButtonsPlus:hover {
  background-color: rgb(1, 102, 1);
}
.product__btnPriceButtonsPlus {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  border-radius: 30px;
  background-color: green;
  color: white;
  cursor: pointer;
}
.product__btnPriceButtonsQty {
  background-color: rgb(183, 142, 223);
  padding: 10px;
  color: white;
  border-radius: 15px;
}
.product__btnPriceButtonsMinus:hover {
  background-color: rgb(230, 0, 0);
}
.product__btnPriceButtonsMinus {
  border-radius: 30px;
  margin-left: 10px;
  color: white;
  background-color: red;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .product__productImageURL {
    max-width: 40vh;
    
    margin: auto;
  }

  .product {
    width: min-content;
    border: 1px solid black;
    margin: auto;
    padding: 10px;
  }
}
