.product {
  width: min-content;
  border: 1px solid black;
  margin: auto;
  padding: 30px;
  text-overflow: clip;
  background-color: rgb(241, 233, 233);
  line-height: 1.8;
  cursor: pointer;
}
.product__productImageURL {
  width: 60vh;
  margin: auto;
}
.product__btnPrice {
  display: flex;
  justify-content: space-around;
}
.product__btnPriceButtons {
  display: flex;
  margin-left: 10px;
  align-items: center;
}
.product__btnPriceButtonsPlus {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  border-radius: 30px;
  background-color: green;
  color: white;
}
.product__btnPriceButtonsQty{
    background-color: rgb(183, 142, 223);
    padding: 10px;
    color: white;
}
.product__btnPriceButtonsMinus {
  border-radius: 30px;
  margin-left: 10px;
  color: white;
  background-color: red;
  height: 30px;
  width: 30px;
}
@media only screen and (max-width: 600px) {
  .product__productImageURL {
    width: 40vh;
    margin: auto;
  }

  .product {
    width: min-content;
    border: 1px solid black;
    margin: auto;
    padding: 10px;
    cursor: pointer;
  }
}
