.cart__cartItems {
  display: flex;
  flex-wrap: wrap;
}
.cart__page {
  padding: 25px;
}
.cart__total {
  display: flex;
  background-color: rgb(226, 222, 213);
  padding: 30px;
  align-items: center;
  justify-content: space-around;
}
.cart__totalDis {
  padding: 20px;
  background-color: rgb(226, 222, 213);
  color: rgb(51, 56, 56);
}
.cart__cartItems {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.cart__modal {
  font-size: 1.2rem;
  max-height: 80%;
}
.cart__modalButtons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cart__modalItems {
  margin-bottom: 10px;
}
.cart__profile {
  margin: auto;
  font-size: 1.5rem;
  text-align: center;
}
.cart__profile form {
  display: grid;
  margin: auto;
}
.cart__profile h2 {
  margin: 30px;
}
.cart__profile form input {
  margin: 10px auto;
  font-size: 1.1rem;
}

.cart__profile form input:focus {
  outline: none;
}
