.homepage__products {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.homepage {
  background-color: rgb(233, 194, 180);
}
@media only screen and (max-width: 600px) {
  .homepage__products {
    padding: 10px;
    font-size: xx-large;
    display: flex;
    flex-wrap: wrap;
  }
}
