.homepage__products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 80vh;
  align-items: center;
}
.homepage__filters{
  display: flex;
  padding: 20px;
  background-color: rgb(226, 222, 213);
  overflow-x: scroll;
  align-items: center;
  position: sticky;
}
.homepage__search{
  margin: 20px auto;
  border: 1px solid lightgrey;
  border-radius: 5px;
  display: inline;
}
.homepage__search input{
  border: none; 
  font-size: 1.2rem; 
  height: 3rem;
}
.homepage__search input:focus{
  outline: none;
}
@media only screen and (max-width: 600px) {
  .homepage__products {
    padding: 10px;
    font-size: xx-large;
    display: flex;
    flex-wrap: wrap;
  }
}
