.homepage__products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 80vh;
  align-items: center;
}
.homepage__filters{
  display: flex;
  padding: 20px;
  background-color: rgb(226, 222, 213);
  overflow-x: scroll;
  align-items: center;
  position: sticky;
}

@media only screen and (max-width: 600px) {
  .homepage__products {
    padding: 10px;
    font-size: xx-large;
    display: flex;
    flex-wrap: wrap;
  }
}
