.product__pageProduct {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.product__pageProduct .product__productImageURL {
  max-width: 300px;
  flex: 5;
  border-radius: 5px;
  border: 1px dashed blue;
}
.product__pageProduct .product__decription{
  flex: 7;
  margin: 10px;
  min-width: 300px;
}
.product__decription .product__head{
  color: rebeccapurple;
  padding-bottom: 10px;
}